<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.untirta.unot">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ico_circle_mini"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ico_circle_mini"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.UNOT">

        <activity
            android:name=".WebView.QrTool"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge" />
        <activity
            android:name=".WebView.SiakadActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge" />
        <activity
            android:name=".WebView.TugasAkhirActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge"/>
        <activity
            android:name=".WebView.WisudaActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge" />
        <activity
            android:name=".WebView.SpadaActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge" />
        <activity
            android:name=".MainActivity2"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge" />
        <activity
            android:name=".WebView.EadministrasiActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge" />


        <activity android:name=".AdminSide.Admin_CreateQuestion"
            android:exported="true"
            />
        <activity
            android:name=".AdminSide.PreviewCreate"
            android:exported="true" />
        <activity
            android:name=".UserSoal.Soal_A"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".testfoto"
            android:exported="true" />
        <activity
            android:name=".UnderConstruction"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".UserSide.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".AdminSide.Dashboard_admin"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".AdminSide.Activation"
            android:exported="true" />
        <activity
            android:name=".AdminSide.Admin_Remote"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".AccountSide.Login_admin"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Blank404"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Help"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".AccountSide.Create_account"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".AccountSide.Login"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".UserSide.UserPhoto"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".UserSide.DownloadUploadedImages"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".AdminSide.Admin_nilai"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Splash"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>